<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.UserDAO">
	<resultMap type="user" id="userMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="pwd" property="pwd" />
	</resultMap>

	<select id="queryAll" resultMap="userMap">
		select * from t_user
	</select>
	
	<select id="queryById" parameterType="int" resultType="user">
		select * from t_user where id = #{id}
	</select>
	
	<insert id="add" parameterType="user">
		insert into t_user(name, email, pwd) values(#{name}, #{email}, #{pwd})
	</insert>
	
	<update id="update" parameterType="user">
		update t_user set name = #{name}, email = #{email} where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
		delete from t_user where id = #{id}
	</delete>
	
	<select id="queryByPagerAndCriteria" resultMap="userMap">
		select * from t_user where 1 = 1
		<if test="user.name != null and user.name != ''">
			and name like concat('%', #{user.name}, '%')
		</if>
		<if test="user.email != null and user.email != ''">
			and email like concat('%', #{user.email}, '%') 
		</if>
		limit #{pager.beginIndex}, #{pager.pageSize}
	</select>
	
	<select id="countByCriteria" resultType="int" parameterType="user">
		select count(id) from t_user where 1 = 1 
		<if test="name != null and name != ''">
			and name like concat('%', #{name}, '%')
		</if>
		<if test="email != null and email != ''">
			and email like concat('%', #{email}, '%')
		</if>
	</select>
	 
</mapper>